*{box-sizing: border-box; margin:0;}

/***********************************************************************************/
/*                                                                                 */
/*                                      Aspect Général                             */
/*                                                                                 */
/***********************************************************************************/

body{
    background:url(img/Fond.jpg); 
    display: flex;
    justify-content: center;
}

#page{
    display: flex;
    flex-wrap: center;
    width: 60%;
    background: white;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 10px 0px 50px black;
}

#logo{
    position: relative; width: 100px;
}

nav{
    justify-content: space-around; align-content: space-around; position: relative; display: flex; align-items: center; width: 100%; font-family: 'Darleston', sans-serif; font-size: 30px; text-decoration: none;margin: 0 5%;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333434;
    color: #EA5758; 
    text-align:center; 
    height: 5%; 
    align-content: space-around;
    width: 100%;
}

/***********************************************************************************/
/*                                                                                 */
/*                                      Entreprise                                 */
/*                                                                                 */
/***********************************************************************************/

#titreEntreprise{
    text-align: center; margin-top: 60px; color: #EA5758;
}

.contenu{
    padding: 80px; text-align: center justify; ; width: 900px; font-family: 'Raleway', sans-serif;
}


.titre2{
    margin-top: 90px;
}

#titre_presentation{
    padding: 25px;
}

#titre_atout{
    padding: 25px;
}


/***********************************************************************************/
/*                                                                                 */
/*                                      Contactez Nous                             */
/*                                                                                 */
/***********************************************************************************/

#titreContactezNous{
    text-align: center; margin-top: 60px; color: #EA5758;
}

.formulaire{
    display: flex; padding: 80px; width: 900px; padding-left: 200px; margin-right: 350; font-family: 'Raleway', sans-serif; flex-flow: column;
}


/***********************************************************************************/
/*                                                                                 */
/*                                       Contact                                   */
/*                                                                                 */
/***********************************************************************************/

#titreContact{
    text-align: left;    
}

#titreDevis{
    text-align: right;
}
label{
    margin-bottom: 5%;
}