*{
	box-sizing: border-box; margin: 0;
}

/***************************************
*                                      *
*            Aspect Générale           *
*                                      *
****************************************/

bloc{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

h1.Titre{
    display: flex;
    padding-bottom: 10%;
    width: 100%;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    color: #EA5758;
    font-size: 80px;
    font-weight: 400;
}

#titre_accueil{
    display: none;
}

#retour{
    font-size: 10px;
    display: flex;
    justify-content: center;
}



/***************************************
*                                      *
*          Menu de Navigation          *
*                                      *
****************************************/

/*Menu hamburger*/

#logo_pc{
    display: none;
}

.navbar-menu {
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    z-index: 100;
      transform: translateX(-100%);
      transition: 0.5s;
}
#submenu {
    height: 0;
    opacity: 0;
    transition: 0.5s;
    background: #494950;
    border-radius: 1em;
}

#submenu li{
    margin: 2% 0;
    line-height: 0em;
}

#submenu a {
    color: #fff;
    background: transparent;
    
}

#submenu.show {
    height: 17em;
    opacity: 1;
}

#submenu.show li{
    line-height: 4.5em;
}

#menu-vertical{
    padding: 0 1em;
}

.show{
    transform: translateX(0);
    transition: 0.5s;
}

return{
    transform: translateX(-100%);
}

.navbar-menu.active { transform: translateX(0);transition: 0.5s; }

.navbar-menu .menu-listing { padding: 0;margin: 0;text-align: right; }

.menu-listing li { display: inline-block; }

.menu-listing li a, #button_submenu {
      background-color: #fff;
      color: #262626;
      display: block;
      text-align: center;
      font-size: 50px;
      padding: 0 20px;
      text-decoration: none;
      transition: 0.5s;
}

#button_submenu{
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    margin: auto;
}
.menu-listing li a:hover { background-color: #262626;color: #fff;transition: 0.5s; }

.barre-menu{
    margin: 2% 0;
}

/* Paramétrage sous-menu */

#menu-secondaire-vertical, #menu-secondaire-vertical ul{
    padding: 0;
    margin: 0;
    list-style: square;
}

#menu-secondaire-vertical li {
    position: relative;
    
    }
#menu-secondaire-vertical a {
    display:block;
    text-decoration: none;
    color: #000;
    }
#menu-secondaire-vertical ul {
    position: absolute;
    left:-999em;
    }
#menu-secondaire-vertical li:hover ul {
    top: 20px;
    left: 0px;
    font-size: 1px;
    }

.menu-listing li a #submenu li a{
    padding: 20px 10px 0 0;
    text-align: center;
    color: #222538;
    width: 270px;
    font-size: 20px;
}

.navbar-menu ul:nth-child(1) {
    margin-top: 5em
}

/*Créer un bouton de hamburger*/

.menu {
    margin: 1% 0 0 1%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
    border: none;
    outline: none;
}

.menu span {
  position: absolute;
  height: 4px;
  width: 80%;
  background-color: #333434;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s;
}

.menu span:before {
  content: '';
  position: absolute;
  top: -1.5em;
  background-color: #333434;
  left: 0;
  height: 4px;
  width: 100%;
  transition: 0.3s;
}
.menu span:after {
  content: '';
  position: absolute;
  top: 1.5em;
  background-color: #333434;
  left: 0;
  height: 4px;
  width: 100%;
  transition: 0.3s;
}


.menu.active span { background-color: transparent; }

.menu.active span:before { transform: rotate(45deg);top: 0; }

.menu.active span:after { transform: rotate(-45deg);top: 0; }

/*Rendre le menu hamburger réactif et compatible avec les appareils mobiles*/

.navbar-menu { height: 150%;z-index: 1;}

.menu-listing li { display: block;}

.navbar-menu .menu-listing { text-align: center;justify-content: space-around; z-index: 1;}

/***************************************
*                                      *
*               Page Accueil           *
*                                      *
****************************************/

#accueil > img:nth-child(1){
    width: 50%;
    margin: auto;
}

#carrou{
    width: 90%;
    height: 70%;
    box-shadow: 10px 0px 50px grey;
    margin-left: 5%;
}

.Titre_logo{
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    font-size: 40px;
}

#content{
    flex-grow: 1;
    width: 100%;
}

.logo{
    width: 10%;
    height: 10%;     
}

#bloc_logo{
    margin: 10%;
    display: flex;
    justify-content: space-around;
    
}

#content .logo:nth-child(2){
    width: 13%;
}


/***************************************
*                                      *
*           Pages Evenements           *
*                                      *
****************************************/

#evenement{
    margin-top: 8%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#evenement h2{
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 45px;
}

#evenement p{
    width: 75%;
    justify-content: center;
    text-align: justify;
    margin: 8% 0;
    font-size: 20px;
}

#evenement img {
    width: 90%;
    height: 70%;
    box-shadow: 10px 0px 50px grey;
}

#evenement img{
    margin-bottom: 5%;
}

img#inauguration{
    height: 45%;
}

/***************************************
*                                      *
*               Galerie                *
*                                      *
****************************************/

img.Galerie{
    width: 85%;
    margin: auto;
    padding-bottom: 3%;
}

a#retour_galerie{
    display: flex;
    justify-content: center;
    margin-top: 39%;
    font-size: 25px;
}

.titre_galerie{
    display: flex;
    padding-bottom: 10%;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    color: #EA5758;
    font-size: 80px;
    font-weight: 400;
    margin: 15% 0 5%;
}


/***************************************
*                                      *
*              Entreprise              *
*                                      *
****************************************/

#entreprise{
    flex-grow: 1;
    display: flex;
    align-items: center;    
    text-align: justify;
}

bloc#entreprise a#retour{
    margin-top: 60%;
}
h1.titre_entreprise{
        padding: 0 5% 5%;
        margin: 15% 0;
        font-size: 80px;
        font-weight: 400;
        color: #EA5758;
    }

#entreprise section{
    justify-content: space-around;
    font-size: 14px;
    margin: 0 5%;
}

.atout{
    padding-top: 5%;
    margin-bottom: 8%
}

.soustitre{
    margin-bottom: 5%;
}

#entreprise, #retour{
    font-size: 15px;
}

/***************************************
*                                      *
*                Equipe                *
*                                      *
****************************************/

#equipe, #Equipe{
    flex-grow: 1;
    margin-top: 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p#PEquipe{
    width: 90%;
    text-align: justify;
    margin: 5% 0 20% 0;
    font-size: 30px;    
}

bloc#equipe h1{
    margin-bottom: 10%;
}

bloc#equipe a#retour{
    margin-top: 35%;
}

#page_carousel{
    width: 65%;
    height: 10%;
}
    
.photo{
    margin-left: 10%;
}
    
#text_identifiant{
    font-size: 20px;
    margin: 2% 0 2% 0;
}

/***************************************
*                                      *
*                 Devis                *
*                                      *
****************************************/

#formulaire_devis{
    flex-grow: 1;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

#Contactez{
    width: 100%;
}

#envoyer{
    cursor: pointer;
    width: 100%;
    border-color: lightgrey;
    background: #FFF;
    color: #EA5758;
    padding: 10px;
    margin-bottom: 10%;
    font-size: 35px;    
}

#Devis{
    width: 100%;
    
}

.champs{    
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 20px 0 20px;
    padding: 20px;
    font-size: 35px;
}

input#entreprise.champs{
    font-size: 35px;
}


/***************************************
*                                      *
*             Contactez-Nous           *
*                                      *
****************************************/

#formulaire_contact{
    min-height: 1vh;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#formulaire{
    width: 90%;
    margin-top: 6%;
}

.zone{
    width: 90%;
    margin: 20px 40px;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 20px;
    font-size: 35px;
}

input.boutonEnvoyer{
    font-size: 35px;
    cursor: pointer;
    width: 90%;
    margin: 4% 4%;
    border-color: lightgrey;
    background: #FFF;
    color: #EA5758;
    padding: 10px;
}

/***************************************
*                                      *
*      Politique de Confidentialité    *
*                                      *
****************************************/

#contacter{
    flex-grow: 1;
}

bloc#politique h1{
    margin-top: 12%;    
}

bloc#politique p{
    text-align: justify;
    font-size: 35px;
    width: 80%;
    margin: 10%;
}

/***************************************
*                                      *
*           Condition Général          *
*                                      *
****************************************/

#contacter{
    flex-grow: 1;
}

bloc#conditions h1{
    margin-top: 12%;    
}

bloc#conditions p{
    text-align: justify;
    font-size: 35px;
    width: 80%;
    margin: 10%;
}


/***************************************
*                                      *
*                Footer                *
*                                      *
****************************************/

footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 15%;
    background-color: #333434;
    box-shadow:  #FFF inset;
}

footer a{
    color: #EA5758;
    text-decoration: none;
    font-size: 50px;
    margin: 1% 0;
}


/***************************************
*                                      *
*             Responsive               *
*                                      *
****************************************/

@media all and (min-width: 1025px){
    
    
    /***************************************
    *                                      *
    *            Aspect Générale           *
    *                                      *
    ****************************************/    
    
    body{
        display: flex;
        background-image: url(img/Fond.jpg);
    }
    
    bloc{
	   background: white;
        box-shadow: 5px 0px 50px grey;
        margin: auto;
        width: 60%;
    }
    
    nav{
        margin: 2% 0;
    }
    
    h1.Titre{
        font-size: 40px;
        padding-bottom: 6%;
    }
    
    img.Galerie{
        width: 75%;
    }
    
    h2{
        display: flex;
        margin-left: 25%;
    }
    
    /***************************************
    *                                      *
    *          Menu de Navigation          *
    *                                      *
    ****************************************/   
    
    .navbar-menu{
        margin-top: 5%;
    }
    
    #logo_tel{
        display: none;
    }
    #logo_responsive{
        display: none;
    }
    
    #logo_pc{
        display: flex;
        width: 15%;
        height: 15%;
    }
    
    ul.menu-listing{
        display: flex;
        align-items: center;
    }
    
    img.barre-menu{
        transform: rotate(90deg);
        width: 5%;
        height: 15%;
    }
    
    .menu{
        display: none;
    }
    
    .navbar-menu{
        transform: none;
        position: inherit;
        height: 90%;
    }
    
    .menu-listing li a{
        font-size: 14px;
        background: 0;
    }
    
    #button_submenu{
        font-size: 14px;
        display: flex;
        position: relative;
        align-items: center;
        margin: 0;
    }
    
    .navbar-menu ul:nth-child(1){
        margin-top: 0;
    }    

    nav{
        margin: 0;
    }
    
    #menu-vertical, #menu-vertical ul {         /* Gère le menu cacher situé dans le menu principal dans Evènement */
        padding:0;
        margin:0;
        list-style:none;
    }

    #menu-vertical li {
        position: relative;

    }
    #menu-vertical a {
        display:block;
        text-decoration: none;
        color: #000;
    }
    #menu-vertical ul {
        position: absolute;
        left:-999em;
    }
    #menu-vertical li:hover ul {
        top: 16px;
        left: 0px;
        font-size: 5px;
    }

    #submenu li{
        border-bottom: 1px, solid;
    }

    #submenu li a{
        padding: 5px 10px 0 0;
        text-align: justify;
        transition: 0;
        background-color: #494950;
        border-radius: 1em;
        width: 200px;
        font-size: 15px;
    }
    
    #submenu a{
        color: #fff;
    }
    
    #submenu.show{
        transition: none;
        width: 40em;
    }
    
    /***************************************
    *                                      *
    *               Page Accueil           *
    *                                      *
    ****************************************/
    
    
    #accueil{
        flex-wrap: wrap;
        align-content: center;
        margin-bottom: 5%;
    }
    
    h1#titre_accueil{
        display: flex;
        padding: 3% 5%;
        margin: 5% 0;
        width: 100%;
        justify-content:center;
        flex-wrap: wrap;
        color: #EA5758;
        font-size: 40px;
        font-weight: 400;
    }
    
    #carrou{
        width: 50%;
        height: 50%;
        margin: 0 20%;
    }
    
    .Titre_logo{
        font-size: 25px;
    }
    
    .logo{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        width: 4%;
        margin: auto 0;
    }
    
    #content .logo:nth-child(2){
        width: 8%;
    }
    
    #bloc_logo{
        width: 100%;
        padding: 0 15%;
        margin: 5% 0;
    }
    
    /***************************************
    *                                      *
    *           Pages Evenements           *
    *                                      *
    ****************************************/
    
    #inauguration{
        margin-bottom: 5%;
    }
    
    #lancement{
        margin-bottom: 5%;
    }
    
    #team{
        margin-bottom: 5%;
    }
    
    bloc#entreprise{
        margin: 0 20% 0;
    }
    
    #evenement h2{
        width: 100%;
        font-size: 35px;
    }

    #evenement p{
        width: 75%;
        margin: 5% 0;
        font-size: 20px;
    }

    #evenement img {
        width: 60%;
        height: 50%;
    }
    
   img#inauguration{
        height: 50%;
    }
    
    bloc#team img.barre-menu{
        height: 2px;
        width: 5%;
    }
    
    bloc#team img#logo_pc{
        display: flex;
        width: 15%;
        height: 15%;
    }
    
    bloc#team footer{
        height: 5%;    
    }
    
    /***************************************
    *                                      *
    *               Galerie                *
    *                                      *
    ****************************************/
    
    #galerie{
        margin-bottom: 5%;
    }
    
    h1.titre_galerie{
        padding: 3% 5%;
        margin: 5% 0;
        font-size: 40px;
        font-weight: 400;
    }
    
    
    /***************************************
    *                                      *
    *              Entreprise              *
    *                                      *
    ****************************************/
    
    #entreprise{
        margin-bottom: 5%;
    }
    
    h1.titre_entreprise{
        padding: 0 5% 5%;
        margin: 5% 0;
        font-size: 40px;
        font-weight: 400;
        color: #EA5758;
    }
    
    h2.soustitre{
        margin: 0 0 5%;
    }
    
    bloc#entreprise{
        margin: 0 20% 5% 20%;
    }
    
    #entreprise section{
        font-size: 17px;
    }
    
    section#contenu{
        margin-bottom: 0%;
    }
    
    bloc#entreprise a#retour{
        margin-bottom: 2%;
    }
    
    bloc#entreprise footer{
        height: 30%;
    }
    
    /***************************************
    *                                      *
    *                Equipe                *
    *                                      *
    ****************************************/
    
    #equipe{
        margin: 0 30% 5% 20%;
    }
    
    p#PEquipe{
        font-size: 18px;
        margin-bottom: 10%;
    }
    
    bloc#equipe a#retour{
        margin-bottom: 2%;
    }
    
    bloc#equipe footer{
        height: 30%;
    }
    
    #text_identifiant{
        font-size: 20px;
        margin: 2% 0 2% 0;
    }
    
    bloc#equipe div#page_carousel{
        margin-bottom: 50%;
    }
    
    bloc#equipe h1{
        margin-bottom: 10%;
    }
    
    bloc#equipe footer{
        height: 5%;
    }
    
    bloc#equipe img.photo{
        display: flex;
        justify-content:flex-start; 
    }
    
    bloc#equipe div.galerie_carousel{
        height: 1%;
    }
    
    /***************************************
    *                                      *
    *                 Devis                *
    *                                      *
    ****************************************/
    
    #formulaire_devis{
        margin: 0 19% 5% 19%;
        display: grid;
        padding-top: 4%;
    }
    
    div#formulaire{
        display: flex;
        justify-content: space-between;
    }
    
    #Contactez{
        width: 40%;
        margin-left: 7%;
    }

    #envoyer{
        cursor: pointer;
        width: 100%;
        font-size: 20px;
    }

    #Devis{
        width: 40%;

    }

    .champs{
        margin: 0 0 30px;
        padding: 10px;
        font-size: 15px;
    }
    
    input#entreprise.champs{
        font-size: 15px;
        margin: 50px 0 0;
    }
    
    input#nom_societe.champs{
        margin-top: 50px;
    }
    
    input#nom.champs{
        margin-top: 30px;
    }
    
    bloc#formulaire_devis footer{
        height: 100%;
    }
    
    /***************************************
    *                                      *
    *            Contactez_Nous            *
    *                                      *
    ****************************************/
    
    #formulaire_contact{
        margin: 0 19% 5% 19%;        
    }
    
    form#formulaire{
        width: 60%;
    }
    
    input.zone{
        font-size: 15px;
        padding: 10px;
    }
    
    textarea.zone{
        font-size: 15px;
        padding: 10px;
    }
    
    input.boutonEnvoyer{
        font-size: 20px;
        margin-left: 6%;
    }
    
    bloc#formulaire_contact footer{
        height: 30%;
    }
    
    /***************************************
    *                                      *
    *      Politique de Confidentialité    *
    *                                      *
    ****************************************/

    #politique{
        flex-grow: 1;
    }
    
    bloc#politique{
        margin: 0 20% 5% 20%;
    }

    bloc#politique h1{
        margin-top: 12%;    
    }

    bloc#politique p{
        text-align: justify;
        font-size: 20px;
        width: 80%;
    }

    bloc#politique footer{
        height: 30%;
    }
    
    bloc#politique a#retour{
        margin-bottom: 2%;
    }
    /***************************************
    *                                      *
    *           Condition Général          *
    *                                      *
    ****************************************/

    #conditions{
        flex-grow: 1;
    }
    
    bloc#conditions{
        margin: 0 20% 5% 20%;    
    }
    
    bloc#conditions p{
        text-align: justify;
        font-size: 20px;
        width: 90%;
        margin: 0 0 5% 5%;
    }
    
    bloc#conditions footer{
        height: 25%;
    }
    
    bloc#conditions a#retour{
        margin-bottom: 2%;
    }
    
    /***************************************
    *                                      *
    *                Footer                *
    *                                      *
    ****************************************/
    
    
    footer{
        justify-content: space-around;
        text-align: center;
        flex-direction: row;
        width: 100%;
    }

    footer a{
        font-size: 20px;
    }
    
}