font-family: 'Open Sans', sans-serif;
*{
	box-sizing: border-box;
	margin: 0;
}
body{
	display: flex;
	background-image: url("img/Fond.jpg");
    justify-content: center;
    }
bloc{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	width: 60%;
	background: white;
    box-shadow: 10px 0px 50px black;
}
nav{
	display: flex;
	width: 100%;
	position: relative;
	align-items: center;
    margin: 0 5% 5% 5%;
    }

nav a{
    display: flex;
    justify-content: space-around;
    width: 15%;
    text-decoration: none;
    color: #000;
}
#realisation{
	display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
h1{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    color: #EA5758;
}
.Titre{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    color: #EA5758;
}
.Devis{
    width: 50%;
}
#carrou{
    width: 80%;
    height: 80%;
    box-shadow: 10px 0px 50px black;
}
.logo{
    margin: 0 20px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #333434;
}
footer a{ 
    color: #EA5758;
}
#equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.employee{
    margin: 50px;
}
.photo{
    width: 250px;
}
#PEquipe{
    display: flex;
    text-align: justify;
    margin: 10% 25%;
    
}
#ContactDevis{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.formulaire{
    display: flex;
    font-family: 'Raleway', sans-serif; 
    flex-flow: column;
    margin: 50px
}
#evenement{
	display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

#inauguration{
    width: 70%;
    height: 70%;
    margin-bottom: 50px;
}
.TEvenement{
    width: 100%;
    margin: 0 15%;
    
}
.PEvenement{
    width: 100%;
    margin: 25px 15% 30px;
}


#menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
}

#menu-vertical li {
    position: relative;
}
#menu-vertical a {
    display:block;
    text-decoration: none;
    color: #000;
}
#menu-vertical ul {
    position: absolute;
    left:-999em;
}
#menu-vertical li:hover ul {
    top: 0px;
    left: 0px;
}
.devis{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif; 
    flex-flow: column;
    margin: 50px;
    width: 40%;
}
.Galerie{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}