*{
	box-sizing: border-box;
	margin: 0;
}

font-family: 'Raleway', sans-serif;

body{
	display: flex;
	background-image: url("img/Fond.jpg");
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    }

bloc{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	width: 60%;
	background: white;
    box-shadow: 10px 0px 50px grey;
    margin-bottom: 20px;
}
nav{
	display: flex;
	width: 100%;
	justify-content: space-around;
	position: relative;
	align-items: center;
    margin: 0 5% 5% 5%;
    }

nav a{
    text-decoration: none;
    color: #000;
}
#realisation{
	display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
h1{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    color: #EA5758;
}
.Titre{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
}

.Titre_logo{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
}

#carrou{
    width: 80%;
    height: 80%;
    box-shadow: 10px 0px 50px black;
}
.logo{
    margin: 0 20px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #333434;
}
footer a{ 
    color: #EA5758;
}
#equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.employee{
    margin: 50px;
}
.photo{
    width: 250px;
}
#PEquipe{
    display: flex;
    text-align: justify;
    margin: 10% 25%;
    
}
#ContactDevis{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
    
}
.formulaire{
    display: flex;
    flex-flow: column;
    margin: 50px
}
#evenement{
	display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

#inauguration{
    width: 70%;
    height: 70%;
    margin-bottom: 50px;
}
.TEvenement{
    width: 100%;
    margin: 0 15%;
    font-family: 'Raleway', sans-serif;
}
.PEvenement{
    width: 100%;
    margin: 25px 15% 30px;
}


#menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
}

#menu-vertical li {
    position: relative;
    
}
#menu-vertical a {
    display:block;
    text-decoration: none;
    color: #000;
}
#menu-vertical ul {
    position: absolute;
    left:-999em;
}
#menu-vertical li:hover ul {
    top: 20px;
    left: 0px;
}

#menu.submenu{
    background-color: RGB(230, 100, 40);
}

#submenu li{
    border-bottom: 1px, solid #CCC;
}

#submenu li a{
    padding: 15px 30px 0 0;
    color: #222538;
    width: 270px;
}

.devis{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 35%;
}

#barre{
    margin: 0 7%;
}

.nombreCaractere{
    align-content: flex-end;
}

#contenu{
    margin: 5% 10% 0; text-align: justify;
}

.titreEntreprise{
    padding-bottom: 2%;
}

.Galerie{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

/*
<!------------------------------------------------------->
<!--                       RESPONCIVE                  -->
<!------------------------------------------------------->
*/

/*
@media all and (max-width: 960px){
    body{
        width: auto;
    }
}
*/


